* {
        background-color: rgb(253, 251, 251);
}

.lado-esquerdo {
        width: 400px;
        text-align: justify;
        float: left;
        font-family: 'Courier New', Courier, monospace;
        line-height: 2em;
        font-size: medium;
}

.lado-direito {
        float: right;
        width: 400px;
        font-family: 'Courier New', Courier, monospace;
        line-height: 2em;
        font-size: medium;
        color: rgb(71, 74, 81);
}

.tabela{
        margin-top: 70px;
        padding: 10px;
        border: 1px dotted black;
        margin-left: 550px;
}

#cabecalho {
        position: fixed;
        top: 0;
}

#minha_foto {
        width: 300px;
        border-radius: 100%;
}
